In [2]:
import numpy as np
import pandas as pd

In [4]:
pwd

'C:\\Users\\AYUSH DHIMAN'

In [7]:
df=pd.read_csv('100SalesRecords.csv')

In [11]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,09-03-2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11-11-2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,06-01-2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,08-08-2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,02-10-2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [23]:
new_df=df
type(new_df)
new_df.to_csv('Tammmana_new_csv',index=False)

In [25]:
pd.read_csv('Tammmana_new_csv')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,09-03-2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11-11-2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,06-01-2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,08-08-2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,02-10-2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [40]:
excel2=pd.read_excel('Book1.xlsx',sheet_name="Sheet1")
excel2.to_excel('Tammana_excel_demo.xlsx',index=False,sheet_name="Sheet1")

In [42]:
pd.read_excel('Tammana_excel_demo.xlsx')

   Unnamed: 0   a   b   c   d
0           0   1   2   3   4
1           1   5   6   7   8
2           2   9  10  11  12
3           3  13  14  15  16
4           4  17  18  19  20

In [45]:
bank_data=pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [51]:
type(bank_data)
bank_data[:]

[                             Bank Name               City State   Cert  \
 0                    Almena State Bank             Almena    KS  15426
 1           First City Bank of Florida  Fort Walton Beach    FL  16748
 2                 The First State Bank      Barboursville    WV  14361
 3                   Ericson State Bank            Ericson    NE  18265
 4     City National Bank of New Jersey             Newark    NJ  21111
 ..                                 ...                ...   ...    ...
 558                 Superior Bank, FSB           Hinsdale    IL  32646
 559                Malta National Bank              Malta    OH   6629
 560    First Alliance Bank & Trust Co.         Manchester    NH  34264
 561  National State Bank of Metropolis         Metropolis    IL   3815
 562                   Bank of Honolulu           Honolulu    HI  21029

                    Acquiring Institution       Closing Date
 0                            Equity Bank   October 23, 2020
 1              United Fidelity Bank, fsb   October 16, 2020
 2                         MVB Bank, Inc.      April 3, 2020
 3             Farmers and Merchants Bank  February 14, 2020
 4                        Industrial Bank   November 1, 2019
 ..                                   ...                ...
 558                Superior Federal, FSB      July 27, 2001
 559                    North Valley Bank        May 3, 2001
 560  Southern New Hampshire Bank & Trust   February 2, 2001
 561              Banterra Bank of Marion  December 14, 2000
 562                   Bank of the Orient   October 13, 2000

 [563 rows x 6 columns]]

In [53]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [55]:
df.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,09-03-2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11-11-2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,06-01-2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,08-08-2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,02-10-2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [57]:
df.sample(4)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
41,Middle East and North Africa,Azerbaijan,Cosmetics,Online,M,02-06-2010,382392299,2/25/2010,7234,437.20,263.33,3162704.80,1904929.22,1257775.58
75,North America,Mexico,Household,Offline,C,11-06-2014,986435210,12-12-2014,6954,668.27,502.54,4647149.58,3494663.16,1152486.42
46,Europe,Iceland,Cosmetics,Online,C,12/31/2016,331438481,12/31/2016,8867,437.20,263.33,3876652.40,2334947.11,1541705.29
77,Asia,Laos,Vegetables,Offline,C,9/15/2011,789176547,10/23/2011,3732,154.06,90.93,574951.92,339350.76,235601.16

In [59]:
type(df)

pandas.core.frame.DataFrame

In [61]:
df['Sales Channel']

0     Offline
1      Online
2     Offline
3      Online
4     Offline
       ...
95     Online
96    Offline
97    Offline
98    Offline
99    Offline
Name: Sales Channel, Length: 100, dtype: object

In [65]:
df['Region'].tail()

95    Sub-Saharan Africa
96                  Asia
97    Sub-Saharan Africa
98         North America
99    Sub-Saharan Africa
Name: Region, dtype: object

In [67]:
df.loc[99]

Region            Sub-Saharan Africa
Country                   Mozambique
Item Type                  Household
Sales Channel                Offline
Order Priority                     L
Order Date                02-10-2012
Order ID                   665095412
Ship Date                  2/15/2012
Units Sold                      5367
Unit Price                    668.27
Unit Cost                     502.54
Total Revenue            3.58661e+06
Total Cost               2.69713e+06
Total Profit                  889473
Name: 99, dtype: object

In [69]:
df.sample()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
29,Sub-Saharan Africa,The Gambia,Household,Offline,L,5/26/2012,886494815,06-09-2012,2370,668.27,502.54,1583799.9,1191019.8,392780.1

In [72]:
df[['Region','Country','Order Priority']].iloc[29]

Region            Sub-Saharan Africa
Country                   The Gambia
Order Priority                     L
Name: 29, dtype: object

In [74]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [78]:
df[df['Units Sold']>5000]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28,35.84,902980.64,296145.92,606834.72
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27,502.54,5997054.98,4509793.96,1487261.02
16,Asia,Sri Lanka,Cosmetics,Offline,M,11/19/2016,419123971,12/18/2016,6952,437.20,263.33,3039414.40,1830670.16,1208744.24
17,Sub-Saharan Africa,Cameroon,Beverages,Offline,C,04-01-2015,519820964,4/18/2015,5430,47.45,31.79,257653.50,172619.70,85033.80
19,Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,09-11-2012,5908,421.89,364.69,2492526.12,2154588.52,337937.60
20,Europe,Norway,Baby Food,Online,L,5/14/2014,819028031,6/28/2014,7450,255.28,159.42,1901836.00,1187679.00,714157.00
24,Europe,Moldova,Personal Care,Online,L,05-07-2016,740147912,05-10-2016,5070,81.73,56.67,414371.10,287316.90,127054.20
26,Australia and Oceania,Kiribati,Fruits,Online,M,10/13/2014,347140347,11-10-2014,5398,9.33,6.92,50363.34,37354.16,13009.18
27,Sub-Saharan Africa,Mali,Fruits,Online,L,05-07-2010,686048400,05-10-2010,5822,9.33,6.92,54319.26,40288.24,14031.02
28,Europe,Norway,Beverages,Offline,C,7/18/2014,435608613,7/30/2014,5124,47.45,31.79,243133.80,162891.96,80241.84
30,Europe,Switzerland,Cosmetics,Offline,M,9/17/2012,249693334,10/20/2012,8661,437.20,263.33,3786589.20,2280701.13,1505888.07
33,Asia,Myanmar,Household,Offline,H,1/16/2015,177713572,03-01-2015,8250,668.27,502.54,5513227.50,4145955.00,1367272.50
34,Sub-Saharan Africa,Djibouti,Snacks,Online,M,2/25/2017,756274640,2/25/2017,7327,152.58,97.44,1117953.66,713942.88,404010.78
35,Central America and the Caribbean,Costa Rica,Personal Care,Offline,L,05-08-2017,456767165,5/21/2017,6409,81.73,56.67,523807.57,363198.03,160609.54
38,Asia,Brunei,Office Supplies,Online,L,04-01-2012,320009267,05-08-2012,6708,651.21,524.96,4368316.68,3521431.68,846885.00
41,Middle East and North Africa,Azerbaijan,Cosmetics,Online,M,02-06-2010,382392299,2/25/2010,7234,437.20,263.33,3162704.80,1904929.22,1257775.58
44,Asia,Myanmar,Clothes,Online,H,11/14/2015,223359620,11/18/2015,5930,109.28,35.84,648030.40,212531.20,435499.20
46,Europe,Iceland,Cosmetics,Online,C,12/31/2016,331438481,12/31/2016,8867,437.20,263.33,3876652.40,2334947.11,1541705.29
48,Europe,Macedonia,Clothes,Offline,C,10/14/2014,787399423,11/14/2014,7842,109.28,35.84,856973.76,281057.28,575916.48
51,Sub-Saharan Africa,Lesotho,Fruits,Online,L,8/18/2013,918419539,9/18/2013,9606,9.33,6.92,89623.98,66473.52,23150.46
54,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Offline,H,9/17/2013,508980977,10/24/2013,7637,9.33,6.92,71253.21,52848.04,18405.17
56,Australia and Oceania,Fiji,Clothes,Offline,C,6/30/2010,647876489,08-01-2010,9905,109.28,35.84,1082418.40,354995.20,727423.20
59,Sub-Saharan Africa,Djibouti,Cosmetics,Offline,H,04-07-2014,259353148,4/19/2014,7215,437.20,263.33,3154398.00,1899925.95,1254472.05
62,Sub-Saharan Africa,Cameroon,Office Supplies,Online,M,11-07-2011,177636754,11/15/2011,5518,651.21,524.96,3593376.78,2896729.28,696647.50
63,Middle East and North Africa,Libya,Clothes,Offline,H,10/30/2010,705784308,11/17/2010,6116,109.28,35.84,668356.48,219197.44,449159.04
66,Sub-Saharan Africa,Gabon,Personal Care,Offline,L,07-08-2012,228944623,07-09-2012,8656,81.73,56.67,707454.88,490535.52,216919.36
67,Central America and the Caribbean,Belize,Clothes,Offline,M,7/25/2016,807025039,09-07-2016,5498,109.28,35.84,600821.44,197048.32,403773.12
68,Europe,Lithuania,Office Supplies,Offline,H,10/24/2010,166460740,11/17/2010,8287,651.21,524.96,5396577.27,4350343.52,1046233.75
69,Sub-Saharan Africa,Madagascar,Clothes,Offline,L,4/25/2015,610425555,5/28/2015,7342,109.28,35.84,802333.76,263137.28,539196.48
70,Asia,Turkmenistan,Office Supplies,Online,M,4/23/2013,462405812,5/20/2013,5010,651.21,524.96,3262562.10,2630049.60,632512.50
72,Sub-Saharan Africa,Democratic Republic of the Congo,Beverages,Online,C,5/26/2011,585920464,7/15/2011,5741,47.45,31.79,272410.45,182506.39,89904.06
73,Sub-Saharan Africa,Djibouti,Cereal,Online,H,5/20/2017,555990016,6/17/2017,8656,205.70,117.11,1780539.20,1013704.16,766835.04
74,Middle East and North Africa,Pakistan,Cosmetics,Offline,L,07-05-2013,231145322,8/16/2013,9892,437.20,263.33,4324782.40,2604860.36,1719922.04
75,North America,Mexico,Household,Offline,C,11-06-2014,986435210,12-12-2014,6954,668.27,502.54,4647149.58,3494663.16,1152486.42
76,Australia and Oceania,Federated States of Micronesia,Beverages,Online,C,10/28/2014,217221009,11/15/2014,9379,47.45,31.79,445033.55,298158.41,146875.14
78,Europe,Monaco,Baby Food,Offline,H,5/29/2012,688288152,06-02-2012,8614,255.28,159.42,2198981.92,1373243.88,825738.04
79,Australia and Oceania,Samoa,Cosmetics,Online,H,7/20/2013,670854651,08-07-2013,9654,437.20,263.33,4220728.80,2542187.82,1678540.98
81,Middle East and North Africa,Lebanon,Clothes,Online,L,9/18/2012,663110148,10-08-2012,7884,109.28,35.84,861563.52,282562.56,579000.96
82,Middle East and North Africa,Iran,Cosmetics,Online,H,11/15/2016,286959302,12-08-2016,6489,437.20,263.33,2836990.80,1708748.37,1128242.43
84,Sub-Saharan Africa,Kenya,Vegetables,Online,L,3/18/2012,827844560,04-07-2012,6457,154.06,90.93,994765.42,587135.01,407630.41
85,North America,Mexico,Personal Care,Offline,L,2/17/2012,430915820,3/20/2012,6422,81.73,56.67,524870.06,363934.74,160935.32
86,Sub-Saharan Africa,Sao Tome and Principe,Beverages,Offline,C,1/16/2011,180283772,1/21/2011,8829,47.45,31.79,418936.05,280673.91,138262.14
87,Sub-Saharan Africa,The Gambia,Baby Food,Offline,M,02-03-2014,494747245,3/20/2014,5559,255.28,159.42,1419101.52,886215.78,532885.74
91,Australia and Oceania,Australia,Beverages,Offline,H,07-07-2014,240470397,07-11-2014,9389,47.45,31.79,445508.05,298476.31,147031.74
93,Europe,Romania,Cosmetics,Online,H,11/26/2010,660643374,12/25/2010,7910,437.20,263.33,3458252.00,2082940.30,1375311.70
94,Central America and the Caribbean,Nicaragua,Beverages,Offline,C,02-08-2011,963392674,3/21/2011,8156,47.45,31.79,387002.20,259279.24,127722.96
96,Asia,Malaysia,Fruits,Offline,L,11-11-2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,08-08-2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,02-10-2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [ ]:
#index column name

In [93]:
Dataframe_new=pd.read_csv('100SalesRecords.csv',header=None)

In [95]:
print(Dataframe_new)

                                    0                      1   \
0                               Region                Country
1                Australia and Oceania                 Tuvalu
2    Central America and the Caribbean                Grenada
3                               Europe                 Russia
4                   Sub-Saharan Africa  Sao Tome and Principe
..                                 ...                    ...
96                  Sub-Saharan Africa                   Mali
97                                Asia               Malaysia
98                  Sub-Saharan Africa           Sierra Leone
99                       North America                 Mexico
100                 Sub-Saharan Africa             Mozambique

                  2              3               4           5          6   \
0          Item Type  Sales Channel  Order Priority  Order Date   Order ID
1          Baby Food        Offline               H   5/28/2010  669165933
2             Cereal         Online               C   8/22/2012  963881480
3    Office Supplies        Offline               L  05-02-2014  341417157
4             Fruits         Online               C   6/20/2014  514321792
..               ...            ...             ...         ...        ...
96           Clothes         Online               M   7/26/2011  512878119
97            Fruits        Offline               L  11-11-2011  810711038
98        Vegetables        Offline               C  06-01-2016  728815257
99     Personal Care        Offline               M   7/30/2015  559427106
100        Household        Offline               L  02-10-2012  665095412

             7           8           9          10             11          12  \
0     Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost
1     6/27/2010        9925      255.28     159.42        2533654   1582243.5
2     9/15/2012        2804       205.7     117.11       576782.8   328376.44
3    05-08-2014        1779      651.21     524.96     1158502.59   933903.84
4    07-05-2014        8102        9.33       6.92       75591.66    56065.84
..          ...         ...         ...        ...            ...         ...
96   09-03-2011         888      109.28      35.84       97040.64    31825.92
97   12/28/2011        6267        9.33       6.92       58471.11    43367.64
98    6/29/2016        1485      154.06      90.93       228779.1   135031.05
99   08-08-2015        5767       81.73      56.67      471336.91   326815.89
100   2/15/2012        5367      668.27     502.54     3586605.09  2697132.18

               13
0    Total Profit
1        951410.5
2       248406.36
3       224598.75
4        19525.82
..            ...
96       65214.72
97       15103.47
98       93748.05
99      144521.02
100     889472.91

[101 rows x 14 columns]

In [99]:
Dataframe_customHeader=pd.read_csv('100SalesRecords.csv')

print(Dataframe_customHeader)

new_header=['A','AA','AAA','AAAA','B','BB','BBB','BBBB','C','CC','CCC','CCCC','CCCCC','D']
print(new_header)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L  05-02-2014  341417157  05-08-2014
3         Online              C   6/20/2014  514321792  07-05-2014
4        Offline              L  02-01-2013  115456712  02-06-2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119  09-03-2011
96       Offline              L  11-11-2011  810711038  12/28/2011
97       Offline              C  06-01-2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106  08-08-2015
99       Offline              L  02-10-2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]
['A', 'AA', 'AAA', 'AAAA', 'B', 'BB', 'BBB', 'BBBB', 'C', 'CC', 'CCC', 'CCCC', 'CCCCC', 'D']

In [101]:
Dataframe_customHeader.to_csv('Custom_header_csv',index=False,header=new_header)
pd.read_csv('Custom_header_csv')

,A,AA,AAA,AAAA,B,BB,BBB,BBBB,C,CC,CCC,CCCC,CCCCC,D
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,09-03-2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11-11-2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,06-01-2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,08-08-2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,02-10-2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91